<div class="uwcoe-stories-image-collage">
  <div class="uwcoe-stories-image-collage-left">
    <div class="uwcoe-stories-media-responsive">
      <img class="" src="{{ images.first }}" />
    </div>
  </div>
  <div class="uwcoe-stories-image-collage-right">
    <div class="uwcoe-stories-media-responsive">
      <img class="" src="{{ images.second }}" />
    </div>
    <div class="uwcoe-stories-media-responsive">
      <img class="" src="{{ images.third }}" />
    </div>
  </div>
</div>
<div class="uwcoe-stories-container">
  <p class="uwcoe-stories-content uwcoe-stories-image-collage-caption">
    {{ caption }}
  </p>
</div>