<div class="uwcoe-stories-copy-aside-block uwcoe-stories-copy">
  <div class="uwcoe-stories-copy-body">
    {{ content.body }}
  </div>
  {% if aside %}
    <div class="uwcoe-stories-aside">
      {{ aside }}
    </div>
  {% endif %}
</div>