.uwcoe-stories-cta-content {
  background: rgba(0,0,0,.7);
  color: white;
  margin: auto;
  padding: 0 2rem 2rem;
}

.uwcoe-stories-cta-content .title {
  font-size: 3rem;
  line-height: 100%;
  padding-bottom: 1rem;
  color: white;
}

.uwcoe-stories-cta-content p {
  line-height: 2rem;
}

.uwcoe-stories-cta-content .uwcoe-stories-button {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  background: 0 0;
  border: 3px solid #fff;
  color: #fff;
  padding: .5rem;
  font-size: 1rem;
  line-height: 120%;
  display: inline-block;
  margin-right: auto;
}

@media (min-width: 768px) {
  .uwcoe-stories-cta {
    max-width: none;
    margin-bottom: 0;
    margin-top: 1rem;
    padding: 8vw 0;
  }

  .uwcoe-stories-cta-content {
    width: 100%;
    max-width: 640px;
  }
}